*{
    margin: 0;
    padding: 0;
}

header{
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 20px #00000099;
}

.logo {
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    letter-spacing: -0.05em;
}

header nav ul{
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

header nav ul li {
    text-decoration: none;
    margin-left: 1.3em;
}

